
<!--{{#each dbCompleteBasket}}
        <div class="col-sm-3">
            
            <img src="{{image}}" alt="" class="image">
            <p>{{basket_name}}</p>
            <p>{{description}}</p>
            <p>${{price}}</p>
            <a class="btn btn-primary btn-lg" href="#" role="button"></a>
            
        </div>
        {{/each}}-->


{{#each dbCompleteBasket}}
        <div class="col-sm-3">
<div class="simpleCart_shelfItem">
    <h2 class="item_name"> {{basket_name}} </h2>
    <img src="{{image}}" alt="" class="image">  
    <!--<input type="text" value="1" class="item_Quantity">-->
    <p>{{description}}</p>
    <span class="item_price">${{price}}</span>
    <a class="item_add" href="javascript:;"> Add to Cart </a>
</div>
        </div>
        {{/each}}

    <!--<ul> {{#each dbCompleteBasket}}
        <li>
            <img src="{{image}}" alt="">
            <p>{{basket_name}}</p>
            <p>{{price}}</p>
            <a class="btn btn-primary btn-lg" href="#" role="button"></a>
            </li>
            {{/each}}
    </ul>-->

<!--<div class="row">
    <div class="col-md-6">
        <h2 class="words">You have CREATED:</h2>

        <ul class="list-group center">
            {{#each dbCompleteBasket}}
            
            <li class="list-group-item answer">
                <p>                 
                    <form action="burgers/update/{{id}}?_method=PUT" method="POST">
                        <input type="hidden" name="id" value="{{id}}">
                        
                       {{basket_name}} <button type="submit" class="btn btn-danger" id="{{id}}">Devour!</button>
                    </form>
                </p>
            </li>
            
            {{/each}}
        </ul>

    </div>-->